.home-data-pompa,
.home-data-pompa * {
  box-sizing: border-box;
}
.home-data-pompa {
  background: #f3f3f3;
  height: 2465px;
  position: relative;
  overflow: hidden;
}
.image-26 {
  background: linear-gradient(to left, #2c4378, #2c4378);
  width: 2058px;
  height: 1109px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 2058/1109;
}
.rectangle-5 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.83) 36.53846085071564%,
    rgba(255, 255, 255, 1) 49.51923191547394%,
    rgba(255, 255, 255, 0.82) 63.461536169052124%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 1920px;
  height: 502px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 858px;
}
.group-8 {
  position: absolute;
  inset: 0;
}
.mitigasi {
  color: #ffffff;
  text-align: center;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 52.710426330566406px;
  font-weight: 400;
  position: absolute;
  left: 177px;
  top: 297px;
}
.bencana-banjir {
  color: #ffffff;
  text-align: center;
  font-family: "PlusJakartaSans-ExtraBold", sans-serif;
  font-size: 124.58827209472656px;
  font-weight: 800;
  position: absolute;
  left: 177px;
  top: 349px;
}
.group-9 {
  position: absolute;
  inset: 0;
}
.banjir-bukan-berkah-dan-berenang-di-jalan-bukan-solusi-ceban-hadir-untuk-bantu-kamu-pantau-status-pompa-air-banjir-di-wilayah-das-dan-kirim-permintaan-evakuasi-darurat-karena-hidup-layak-dimulai-dari-sistem-yang-efisien {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 31.223251342773438px;
  font-weight: 400;
  position: absolute;
  left: 197.65px;
  top: 539px;
}
.rectangle-7 {
  background: #ffffff;
  width: 4.3px;
  height: 142px;
  position: absolute;
  left: 179px;
  top: 546px;
}
.image {
  border-radius: 25px;
  width: 1743px;
  height: 868px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1457px;
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.daerah-pompa-air {
  color: #002174;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 61.013492584228516px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1217px;
}
.rectangle-9 {
  background: #8cbbe5;
  border-radius: 50px;
  width: 1739px;
  height: 48px;
  position: absolute;
  left: 91px;
  top: 1326px;
}
.vector {
  width: 1.33%;
  height: 1.28%;
  position: absolute;
  right: 39.24%;
  left: 59.43%;
  bottom: 33.37%;
  top: 65.35%;
  overflow: visible;
}
.vector2 {
  width: 1.33%;
  height: 1.28%;
  position: absolute;
  right: 74.76%;
  left: 23.91%;
  bottom: 25.3%;
  top: 73.43%;
  overflow: visible;
}
.vector3 {
  width: 1.33%;
  height: 1.28%;
  position: absolute;
  right: 65.12%;
  left: 33.54%;
  bottom: 12.15%;
  top: 86.57%;
  overflow: visible;
}
.vector4 {
  width: 1.33%;
  height: 1.28%;
  position: absolute;
  right: 31.95%;
  left: 66.72%;
  bottom: 20.83%;
  top: 77.89%;
  overflow: visible;
}
.vector5 {
  width: 1.33%;
  height: 1.28%;
  position: absolute;
  right: 32.62%;
  left: 66.04%;
  bottom: 31.02%;
  top: 67.71%;
  overflow: visible;
}
.vector6 {
  width: 1.33%;
  height: 1.28%;
  position: absolute;
  right: 49.65%;
  left: 49.01%;
  bottom: 37.18%;
  top: 61.54%;
  overflow: visible;
}
.vector7 {
  width: 1.33%;
  height: 1.28%;
  position: absolute;
  right: 49.65%;
  left: 49.01%;
  bottom: 26.88%;
  top: 71.85%;
  overflow: visible;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.rectangle-10 {
  background: #ffffff;
  border-radius: 15px;
  width: 151px;
  height: 58px;
  position: absolute;
  left: 978px;
  top: 1471px;
}
.daerah-lebo-status-aktif {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14.518518447875977px;
  font-weight: 400;
  position: absolute;
  left: 990px;
  top: 1478px;
}
.daerah-lebo-status-aktif-span {
  color: #000000;
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
}
.daerah-lebo-status-aktif-span2 {
  color: #000000;
  font-family: "Poppins-Regular", sans-serif;
}
.daerah-lebo-status-aktif-span3 {
  color: #002174;
  font-family: "Poppins-Regular", sans-serif;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.rectangle-102 {
  background: #ffffff;
  border-radius: 15px;
  width: 171px;
  height: 58px;
  position: absolute;
  left: 493px;
  top: 1768px;
}
.daerah-kertajaya-status-tidak-aktif {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14.518518447875977px;
  font-weight: 400;
  position: absolute;
  left: 505px;
  top: 1775px;
}
.daerah-kertajaya-status-tidak-aktif-span {
  color: #000000;
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
}
.daerah-kertajaya-status-tidak-aktif-span2 {
  color: #000000;
  font-family: "Poppins-Regular", sans-serif;
}
.daerah-kertajaya-status-tidak-aktif-span3 {
  color: #ff0f0f;
  font-family: "Poppins-Regular", sans-serif;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.cari-lokasi {
  color: rgba(0, 33, 116, 0.51);
  text-align: center;
  font-family: "PlusJakartaSans-ExtraBold", sans-serif;
  font-size: 21.486988067626953px;
  font-weight: 800;
  position: absolute;
  left: 120px;
  top: 1336px;
}
.vector8 {
  width: 1.3%;
  height: 1.01%;
  position: absolute;
  right: 6.25%;
  left: 92.45%;
  bottom: 44.75%;
  top: 54.24%;
  overflow: visible;
}
.group-7 {
  position: absolute;
  inset: 0;
}
.rectangle-11 {
  background: #ffffff;
  border-radius: 12px;
  width: 63px;
  height: 144px;
  position: absolute;
  left: 1738px;
  top: 2147px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-12 {
  background: #d9d9d9;
  width: 63px;
  height: 2px;
  position: absolute;
  left: 1738px;
  top: 2218px;
}
.ic-baseline-plus {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 1748px;
  top: 2157px;
  overflow: visible;
  aspect-ratio: 1;
}
.ic-baseline-minus {
  width: 2.24%;
  height: 43px;
  position: absolute;
  right: 6.67%;
  left: 91.09%;
  top: 2235px;
  overflow: visible;
  aspect-ratio: 1;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.rectangle-3 {
  background: #ffffff;
  border-radius: 44.35px;
  width: 561px;
  height: 116.64px;
  position: absolute;
  left: 177px;
  top: 764px;
}
.cek-data-pompa-air {
  color: #002275;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 37.739524841308594px;
  font-weight: 400;
  position: absolute;
  left: 227.93px;
  top: 793.57px;
}
.vector9 {
  width: 2.11%;
  height: 1.23%;
  position: absolute;
  right: 62.23%;
  left: 35.66%;
  bottom: 66.24%;
  top: 32.53%;
  overflow: visible;
}
.navbar {
  position: fixed;
  left: calc(50% - 845px);
  top: 90px;
}
.rectangle-6 {
  background: linear-gradient(
    90deg,
    rgba(243, 243, 243, 1) 12.019230425357819%,
    rgba(0, 33, 116, 0) 31.25%,
    rgba(243, 243, 243, 1) 56.7307710647583%
  );
  border-radius: 71px;
  width: 1685px;
  height: 111px;
  position: absolute;
  left: calc(50% - 845px);
  top: 90px;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.35);
}
.home {
  color: #002275;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 37.739524841308594px;
  font-weight: 400;
  position: absolute;
  left: 179px;
  top: 117px;
}
.status-banjir {
  color: #002275;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 37.739524841308594px;
  font-weight: 400;
  position: absolute;
  left: 1085px;
  top: 117px;
}
.request-evakuasi {
  color: #002275;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 37.739524841308594px;
  font-weight: 400;
  position: absolute;
  left: 1391px;
  top: 117px;
}
