.status-banjir,
.status-banjir * {
  box-sizing: border-box;
}
.status-banjir {
  height: 1357px;
  position: relative;
}
.group-37245 {
  position: absolute;
  inset: 0;
}
.desktop {
  background: #7ebde9;
  width: 1920px;
  height: 1357px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.keterangan-status-banjir-berdasarkan-pemantauan-di-masing-masing-wilayah-das-data-cuaca-diambil-dari-bmkg-tinggi-air-didapatkan-dari-water-level-sensor-pada-setiap-lokasi-pompa-air-jumlah-pompa-aktif-menunjukkan-jumlah-pompa-yang-sedang-beroperasi-pada-waktu-tersebut {
  color: #042c70;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 134px;
  top: 1238px;
}
.keterangan-status-banjir-berdasarkan-pemantauan-di-masing-masing-wilayah-das-data-cuaca-diambil-dari-bmkg-tinggi-air-didapatkan-dari-water-level-sensor-pada-setiap-lokasi-pompa-air-jumlah-pompa-aktif-menunjukkan-jumlah-pompa-yang-sedang-beroperasi-pada-waktu-tersebut-span {
}
.keterangan-status-banjir-berdasarkan-pemantauan-di-masing-masing-wilayah-das-data-cuaca-diambil-dari-bmkg-tinggi-air-didapatkan-dari-water-level-sensor-pada-setiap-lokasi-pompa-air-jumlah-pompa-aktif-menunjukkan-jumlah-pompa-yang-sedang-beroperasi-pada-waktu-tersebut-span2 {
  list-style-type: disc;
  padding-left: 1em;
}
.table {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1685px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 399.5px);
}
._01 {
  background: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 553px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 86px;
  position: relative;
}
.frame-20 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-16 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.show {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.frame-15 {
  background: #e0e0e0;
  border-radius: 8px;
  padding: 8px 9px 8px 9px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._10 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.bi-caret-down-fill {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
  overflow: visible;
}
.entries {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.frame-162 {
  border-radius: 8px;
  border-style: solid;
  border-color: #9e9e9e;
  border-width: 1px;
  padding: 8px 20px 8px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1345px;
  position: relative;
}
.akar-icons-search {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.search {
  color: #9e9e9e;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.vector {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.table2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-9 {
  background: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.wilayah-das {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.frame-2 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.tanggal {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.bxs-sort-alt {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.waktu {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.cuaca {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.pompa-air {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.ketinggian-air {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.frame-7 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.jumlah-pompa-aktif {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.frame-8 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.status-banjir2 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.frame-10 {
  background: #eef6fe;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tegalsari {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-22 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
._20-05-2025 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
._08-00 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.terang {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.pompa-air-darmo-kali {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-62 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._87-cm {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  width: 193.29px;
}
.frame-82 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
._1 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-72 {
  padding: 0px 37px 0px 37px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 188px;
  position: relative;
}
.frame-13 {
  background: #ebf9f1;
  border-radius: 22px;
  padding: 8px 26px 8px 26px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.normal {
  color: #1f9254;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.frame-202 {
  background: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.rungkut {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.pompa-air-kali-rungkut {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
._80-cm {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
._0 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-21 {
  background: #eef6fe;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.semolowaru {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.pompa-air-semolowaru-i {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
._78-cm {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-222 {
  background: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pompa-air-semolowaru-ii {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-23 {
  background: #eef6fe;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bubutan {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.pompa-air-asem-jaya {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
._90-cm {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
._2 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-24 {
  background: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mulyorejo {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.pompa-air-kalisari {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
._64-cm {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-25 {
  background: #eef6fe;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pompa-air-medokan-ayu-upn {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
._75-cm {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-26 {
  background: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pompa-air-medokan-ayu-hilir {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
._79-cm {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-27 {
  background: #eef6fe;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.gunung-anyar {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.pompa-air-medokan-semampir-smpn-30 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
._70-cm {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-28 {
  background: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pompa-air-medokan-ayu-ii {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
._76-cm {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
._02 {
  background: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 668px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.previous {
  color: #9e9e9e;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.frame-152 {
  background: #5391e6;
  border-radius: 8px;
  padding: 4px 9px 4px 9px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 31px;
  position: relative;
}
._12 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 23px;
}
.frame-163 {
  background: #e0e0e0;
  border-radius: 8px;
  padding: 4px 9px 4px 9px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 31px;
  position: relative;
}
._22 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 23px;
}
.frame-17 {
  background: #e0e0e0;
  border-radius: 8px;
  padding: 4px 9px 4px 9px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 31px;
  position: relative;
}
._3 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 23px;
}
.next {
  color: #9e9e9e;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.navbar {
  position: fixed;
  left: 50%;
  translate: -50%;
  top: 90px;
}
.rectangle-6 {
  background: linear-gradient(
    90deg,
    rgba(243, 243, 243, 1) 12.019230425357819%,
    rgba(0, 33, 116, 0) 31.25%,
    rgba(243, 243, 243, 1) 56.7307710647583%
  );
  border-radius: 71px;
  width: 1685px;
  height: 111px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 90px;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.35);
}
.home {
  color: #002275;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 37.739524841308594px;
  font-weight: 400;
  position: absolute;
  left: 181px;
  top: 117px;
}
.status-banjir3 {
  color: #002275;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 37.739524841308594px;
  font-weight: 400;
  position: absolute;
  left: 1087px;
  top: 117px;
}
.request-evakuasi {
  color: #002275;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 37.739524841308594px;
  font-weight: 400;
  position: absolute;
  left: 1393px;
  top: 117px;
}
